// ------ Profile Created ------
@import "../../../Theme.scss";

.profileCreated {
  width: 100%;
  // height: 2000px;
  // background-color: lightgreen;

  .profileCreated__filter {
    width: 100%;
    height: 50px;
    // background-color: pink;
    display: none;
    // border-bottom: $border-light;

    .profileCreated__filter__container {
      width: 90%;
      height: 100%;
      // background-color: coral;
      margin: 0px auto;
      @include flexbox;
      justify-content: flex-end;

      .profileCreated__filter__container__icon {
        // background-color: lightgreen;
        cursor: pointer;
      }
    }
    .profileCreated__filter__sidebar {
      // background-color: lightblue;
      background-color: $white;
      height: 1000vh;
      width: 80%;
      border-right: $border-light;
      position: fixed;
      z-index: 10;
      top: 0px;

      padding-top: 20px;
    }
  }

  .profileCreated__body {
    width: 100%;
    min-height: 800px;

    // background-color: coral;
    @include flexbox;
    .profileCreated__sidebar {
      width: 400px;
      min-height: 800px;
      // background-color: lightblue;
      padding-top: 20px;
      align-self: flex-start;
      // position: fixed;
    }
    .profileCreated__content {
      width: 100%;
      padding-top: 20px;
      min-height: 800px;
      border-left: $border-light;
      padding-bottom: 20px;
      // background-color: lightgoldenrodyellow;

      .profileCreated__content__container {
        width: 95%;
        min-height: 800px;
        margin: 0px auto;
        // background-color: lightsalmon;

        display: grid;
        grid-template-columns: repeat(auto-fill, 270px);
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content: space-between;
      }
    }
  }
}

//Media Queries

// ----- WIDTH -----

// MAX-WIDTH : 900px
@media (max-width: "900px") {
  .profileCreated {
    .profileCreated__body {
      .profileCreated__content {
        .profileCreated__content__container {
          grid-template-columns: 100%;
        }
      }
    }
  }
}

// MAX-WIDTH : 600px
@media (max-width: "600px") {
  .profileCreated {
    .profileCreated__filter {
      display: flex;
    }
    .profileCreated__body {
      .profileCreated__sidebar {
        display: none;
      }
    }
  }
}
