// ------ Profile Favourite ------
@import "../../../Theme.scss";

.profileFavourite {
  width: 100%;
  // height: 2000px;
  // background-color: lightgreen;

  .profileFavourite__body {
    width: 100%;
    min-height: 800px;

    // background-color: coral;
    @include flexbox;
    .profileFavourite__sidebar {
      width: 400px;
      min-height: 800px;
      // background-color: lightblue;
      padding-top: 20px;
      align-self: flex-start;
      // position: fixed;
    }
    .profileFavourite__content {
      width: 100%;
      padding-top: 20px;
      min-height: 800px;
      border-left: $border-light;
      padding-bottom: 20px;
      // background-color: lightgoldenrodyellow;

      .profileFavourite__content__container {
        width: 95%;
        min-height: 300px;
        margin: 0px auto;
        // background-color: lightsalmon;
        border: $border-light;

        // display: grid;
        // grid-template-columns: repeat(auto-fill, 270px);
        // grid-row-gap: 20px;
        // grid-column-gap: 20px;
        // justify-content: space-between;

        @include flexbox;
        // align-items: flex-start;

        p {
          margin: 0px;
          color: $dark-grey;
        //   text-transform: uppercase;
          font-size: $font-small;
        }
      }
    }
  }
}

//Media Queries

// ----- WIDTH -----

// MAX-WIDTH : 900px
@media (max-width: "900px") {
  .profileFavourite {
    .profileFavourite__body {
      .profileFavourite__content {
        .profileFavourite__content__container {
          grid-template-columns: 100%;
        }
      }
    }
  }
}
